td, tr, table {
    border: 1px solid #f0f;
    /* Cmon browser vendors .-. */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

td {
    width: 5%;
    height: 5%;
    text-align: center;
    color: #fff;
}

._ {
    background: #999 !important;
    color: #999;
}

body {
    background: #000;
}

h1, h3, a {
    color: #f0f;
}
